#openLeft, #leftMenu{
    float: left;
}

#rightMenu, #openRight{
    float: right;
}

#rightMenu, #openRight,#openLeft, #leftMenu{
    padding-top: 5px;
}

body{
    font-size: 100%;
    background-size: auto;
    background-color: #0a0b0d;
    color: gainsboro;
    margin: 0;
}

label, #projectName, #members, select{
    background: transparent;
    font-size: 10pt;
}
select{
    color: white;
    border: none;
    outline: none;
    width: auto;
}

#type{
    width: 75%;
}

#customers{
    width: 52%;
}

option{
    background:#221203 ;
}

#projectName, #members, #search{
    border: none;
    color: white;
    width: 30%;
    outline: none;
}

#members{
    width: 40%;
}

#search, #date, #dueDate, #created{
    background-color:transparent;
    border: none;
    color: white;
    font-size: 10pt;
    width: 87%;
}

#searching{
    padding:15% 13%;
}

#createProject{
    padding:22% 13%;
}

#create{
    background: #e7780f;
    border: none;
    color: white;
    padding:15px 135px 15px 15px ;
}

.brd{
    border: none ;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: orange;
    background: #221203;
    padding: 15px;
    position: relative;
}

.checkbox table{
    padding: 0;
    font-size: 11pt;
    width: 175px;
}

.checkbox{
    background: #0F1012;
}

.search{
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255,255,255, 0.1);
    color: white;
    border: none;
}

table.info{
    font-size: 10pt;
    border-collapse: collapse;
}

table.info td{
    width: 350px;
    text-align: center;
}

table.info th{
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid gainsboro;
}

.projectName{
    border-right: 1px solid gainsboro;
    font-weight: bold ;
}

table.info>tbody>tr:nth-child(2n){
    background-color:#0F1012;
}

table.info>tbody>tr:hover{
    background-color: #353E44;
}

table.info th{
    color: orange;
}

tbody .projectName{
    color: white;
}

thead .projectName{
    border-color: orange;
}

.animate-left{
    float: left;
    background-color: black;
    display: block;
    position: absolute;
    height:95%;
    width: 20%;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px;
    background-color: #e7780f;
    text-align: center;
    font-size: 10pt;
}

.animate-right{
    float: right;
    position: absolute;
    height: 95%;
    width: 20%;
    background: black;
    display: block;
}

.delete{
    width:100%;
    height: 100%;
    padding: 15px;
    background: transparent;
    border: none;
}

.del{
    color: gray;
}

#openLeft, #closeLeft, #openRight{
    border: none;
    background-color: transparent;
    color: white;
}

#container{
    margin: auto;
}